/*-----------------------------------------鼠标选中样式-----------------------------------------*/
::selection {
    background: rgba(204,73,51, 1);
    color: #ffffff;
}
::-moz-selection {
    background: rgba(204,73,51, 1);
    color: #ffffff;
}
::selection {
    background: rgba(204,73,51, 1);
    color: #ffffff;
}
::-moz-selection {
    background: rgba(204,73,51, 1);
    color: #ffffff;
}
.logo img {
    display: block;
    width: 200px;
    height: 36px
}
.menu-header {
    position: fixed;
    z-index: 10;
    width: 100%;
}
.menu-header-height {
    height: 80px;
}
@media only screen and (min-width : 960px) and (max-width : 991px) {
    .menu-header-height {
        height: 141px;
    }
}
@media only screen and (min-width : 768px) and (max-width : 959px) {
    .menu-header-height {
        height: 145px;
    }
}
@media (max-width: 767px) {
    .menu-header {
        margin-top: 39px;
    }
    .menu-header-height {
        height: 117px;
    }
    .slicknav_menu {
        position: fixed;
        z-index: 11;
        width: 100%;
    }
}
